@page "/addStud"
@using System.ComponentModel.DataAnnotations
@using BlazorApp1.Models
@inject IStudentService StudentService
@inject NavigationManager NavigationManager
 <h1 class="colorBlue">
    Add Student
</h1>
<EditForm EditContext="editContext" OnValidSubmit="AddNewStudent">
    <DataAnnotationsValidator />
    <ul class="row forumBox">
        <li class="col-3 required">
            <label class="inputLabel">Name:</label>
        </li>
      <li class="col-3">
            <div class="form_inputBox">
                <InputText @bind-Value="newStudent.Name"  class="form-control" maxlength="20" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => newStudent.Name)"></ValidationMessage>
            </div>
            </li>
            @* age *@
        @* </li>
                <li class="col-3 required">
            <label class="inputLabel">Age:</label>
        </li>
      <li class="col-3">
            <div class="form_inputBox">
                <InputNumber @bind-Value=" newStudent.Age" class="form-control " maxlength="20" />
            </div>
             <div class="erroeText">
                <ValidationMessage For="(() =>  newStudent.Age)"></ValidationMessage>
            </div>
        </li> *@
        <li class="col-3 required">
            <label class="inputLabel">Age:</label>
        </li>
        <li class="col-3">
            <div class="form_inputBox">
                <InputNumber @bind-Value="newStudent.Age" class="form-control" />
            </div>
            <div class="errorText">
                <ValidationMessage For="(() => newStudent.Age)"></ValidationMessage>
            </div>
        </li>
        <li class="col-3 required">
            <label class="inputLabel">Email</label>
        </li>
        <li class="col-3">
            <div class="form_inputBox">
                <InputText @bind-Value="newStudent.EmailId" class="form-control" maxlength="90" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() =>  newStudent.EmailId)"></ValidationMessage>
            </div>
        </li>
        <li class="col-3 required">
            <label class="inputLabel">Fees</label>
        </li>
        <li class="col-3">
            <div class="form_inputBox">
                <InputNumber @bind-Value="newStudent.Fees" class="form-control" maxlength="20" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => newStudent.Fees)"></ValidationMessage>
            </div>
        </li>
        <li class="col-3 required">
            <label class="inputLabel">Gender</label>
        </li>
        <li class="col-3">
            <div class="form_inputBox">
               
                <select class="form-control" id="gender" @bind="newStudent.Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="erroeText">
                <ValidationMessage For="@(() => newStudent.Gender)"></ValidationMessage>
            </div>
        </li>
        <li class="col-3">
            <label class="inputLabel">Skills:</label>
        </li>
        <li class="col-3">
            <div class="form_inputBox">
                <div class="form-group">
                    @foreach (var skill in skills)
                    {
                        <div class="form-check">
                            <InputCheckbox class="form-check-input" id="@skill.Name" @bind-Value="skill.IsSelected" />
                            <label class="form-check-label" for="@skill.Name">@skill.Name</label>
                        </div>
                    }
                </div>
            </div>
          @*   <div class="erroeText">
                <ValidationMessage For="@(() => newStudent.Skills)"></ValidationMessage>
            </div> *@
        </li>
      <li class="col-12 mt_20">
            <div class="form_btns">
                <button type="submit" class="common_btn btnBlue">Save</button>
           
            </div>
      </li>
    </ul>
   </EditForm>
