<!-- AddStudent.razor -->
@page "/AddStudent"
@using System.ComponentModel.DataAnnotations
@using BlazorApp1.Models
@inject IStudentService StudentService
@inject NavigationManager NavigationManager
<h3>Add New Student</h3>
<EditForm Model="@typeof(BlazorApp1.Models.StudTable)" OnValidSubmit="AddNewStudent" class="mt-3">
    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <InputText class="form-control" id="name" @bind-Value="newStudent.Name" placeholder="Enter your name" />
        <ValidationMessage For="@(() => newStudent.Name)" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="address">Email:</label>
        <InputText class="form-control" id="address" @bind-Value="newStudent.EmailId" placeholder="Enter your address" />
        <ValidationMessage For="@(() => newStudent.EmailId)" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="age">Age:</label>
        <InputNumber class="form-control" id="age" @bind-Value="newStudent.Age" placeholder="Enter your age" />
        <ValidationMessage For="@(() => newStudent.Age)" />
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" @bind="newStudent.Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <ValidationMessage For="@(() => newStudent.Gender)" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="fees">Fees:</label>
        <InputNumber class="form-control" id="fees" @bind-Value="newStudent.Fees" placeholder="Enter Fees" />
        <ValidationMessage For="@(() => newStudent.Fees)" />
    </div>
    <div class="form-group">
        <label for="skills">Skills:</label>
        <div>
            @foreach (var skill in skills)
            {
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="@skill.Name" @bind="skill.IsSelected" />
                    <label class="form-check-label" for="@skill.Name">@skill.Name</label>
                </div>
            }
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add Student</button>
    </div>
</EditForm>
