@page "/StudDetails"
@using BlazorApp1.Models
@using Microsoft.EntityFrameworkCore;
@inject IStudentService StudentService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
<h3>Student Data</h3>
<button type="button" class="btn btn-primary" @onclick="AddNewStudent">Add New</button>
<button type="button" class="btn btn-primary" @onclick="RetrieveData">Deleted Records</button>
@if (students != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Fees</th>
                <th>Gender</th>
                <th>EmailId</th>
                <th>Skills</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Fees</td>
                    <td>@student.Gender</td>
                    <td>@student.EmailID</td>
                    <td>@student.Skills</td>
                    <td>
                        <!-- Edit button -->
                       
                         <button class="btn btn-primary" @onclick="() => EditStudent(student)">Edit</button>
                        <!-- Display button (if needed) -->
                        <button class="btn btn-info"  @onclick="() => DisplayStudent(student)" >Display</button>
                                           
                       <button class="btn btn-danger" @onclick="() => SoftDeleteStudAsync(student.StudentID)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No student data available.</p>
}
