@page "/MainStud"
@using Microsoft.EntityFrameworkCore;
@using BlazorApp1.Models;
@inject IStudentService StudentService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
 <h1 class="colorBlue">Student Main View</h1>
@if (students != null)
{
    <div class="table_detailsemply">
        <table class="employee_table loan_table" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Fees</th>
                    <th>Gender</th>
                    <th>EmailId</th>
                    <th>Skills</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in students)
                {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.Age</td>
                        <td>@student.Fees</td>
                        <td>@student.Gender</td>
                        <td>@student.EmailID</td>
                        <td>@student.Skills</td>
                        <td>
                            <button class="btn btn-primary" @onclick="() => DisplayStudent(student)">Display</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No student data available.</p>
}

